.article {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  padding: 32px;
  vertical-align:top;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  transition: 
    0.3s border,
    0.6s box-shadow,
    0.6s background-color;
  
  &__title {
    font-size: 1.4em;
    position: relative;
    text-decoration: none;
    color: $dark-color;
    display: block;
    
    &::after {
      position: absolute;
      display: block;
      content: '';
      background: $dark-color;
      width: 40px;
      height: 2px;
      bottom: -8px;
      opacity: 0.1;
    }
  }
  
  &__excerpt {
    margin-top: 16px;
    display: block;
    text-decoration: none;
    color: $dark-color;
  }

  &__categories {
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  &__category {
    display: inline-block;
    opacity: 0.5;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
    
    &:hover {
      background: #E3E3E3;
    }
  }

  &__category-link {
    color: $dark-color;
    text-decoration: none;
  }

  &--first {
    width: 50%;
    
    @media screen and (max-width: 1120px) {
      width: 66.66% !important;
    }

    @media screen and (max-width: 960px) {
      width: 100% !important;
    }
  }

  &:hover {
    background-color: white;
    color: $dark-color;
    box-shadow: 0 4px 16px rgba($dark-color, 0.12);
    border: 1px solid $dark-color;
  }

  @media screen and (max-width: 1120px) {
    width: 33.33%;
  }

  @media screen and (max-width: 960px) {
    width: 50%;
  }

  @media screen and (max-width: 640px) {
    width: 100%;
    padding: 24px;
  }
}