.book-presentation {
  &__title {
    margin-top: 64px;
    margin-bottom: 0;
    text-align: left;
  }
  &__group {
    background: #F7F7F7;
    display: flex;
    padding: 24px;
    border-radius: 4px;
  }
  &__img-wrapper {
    width: 140px;
    perspective: 800px;
    background: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }
  &__cover {
    width: 100%;
    vertical-align: middle;
    transform-origin: left;
    transform: rotateY(-8deg) scaleX(0.98);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: 0.3s all;
    &:hover {
      transform: rotateY(-16deg) scaleX(0.98);
    }
  }
  &__informations {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    align-items: flex-start;
  }
  &__informations-list {
    display: block;
    margin: 0;
    list-style-type: none;
  }
  &__information {
    margin: 0;
  }
  &__categories {
    list-style-type: none;
    margin: 8px 0;
  }
  &__category {
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
    display: inline-block !important;
  }
  &__category-link {
    color: $dark-color !important;
    opacity: 0.5;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none !important;
    
    &:hover {
      background: #E3E3E3 !important;
    }
  }
  &__link {
    text-decoration: none !important;
    background: white;
    border: 1px solid $dark-color;
    color: $dark-color !important;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.2;
    padding: 8px 16px;
    box-shadow: 0 4px 16px rgba($dark-color, 0.12);
    &:hover {
      color: white !important;
      background: $dark-color;
    }
  }
}