.hero {
  $padding-horizontal: '64px';
  width: calc(100% - $padding-horizontal*2);
  display: flex;
  align-items: center;
  padding: 0 64px;

  &__info {
    width: calc(50% - 64px);
    padding-right: 64px;
  }

  &__title {
    font-size: 56px;
    word-spacing: -2px;
  }

  &__author {
    margin-top: 8px;
    font-family: system-ui;
    opacity: 0.5;
  }

  &__featured {
    width: 50%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }

  &__featured-img {
    height: 480px;
  }
}