@import "brand/brand";
@import "nav/nav";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}