h1 { font-size: 2em; line-height: 1.3; }
h2 { font-size: 1.6em; line-height: 1.3; }

h1, h2, p, ul, hr { margin: 32px 0; }
li { margin: 16px 0; }

h1 {
  margin: 16px 0;
}

.article-container a {
  position: relative;
  text-decoration: none;
  transition: 0.3s all;
  color: #ff3e3e;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: disc;
  margin-left: 32px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  border: none;
  height: 2px;
  background: black;
  opacity: 0.1;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $serif;
  font-size: 21px;
  line-height: 1.5;
  color: $dark-color;
  @media screen and (max-width: 640px) {
    font-size: 19px;
  }
}

.katex {
  font-size: 21px !important;
  @media screen and (max-width: 640px) {
    font-size: 19px !important;
  }
}

blockquote {
  border-left: 2px solid rgba(black, 0.1);
  padding-left: 24px;
}